<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiniCPM</title>
    <style>
        .iframe-container {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
            height: 0;
        }
        .iframe-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .button {
            display: inline-block;
            margin: 10px 10px 10px 0;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <a href="https://posts.aidevin.dev/" class="button">Home</a>
    <a href="https://www.aidevin.dev" class="button">Aidevin Dev</a>
    <a href="https://posts.aidevin.dev/search/%23huggingface" class="button">Search</a>
    <div class="iframe-container">
        <iframe
            src="https://openbmb-minicpm-v-2-6.hf.space"
            frameborder="0"
        ></iframe>
    </div>
    <p>Discover spaces with MiniCPM usage on 🤗 Hugging Face Spaces, HF-Hub posts, and aidevin.dev.</p>
</body>
</html>
